DEFAULT_HOST=whoami.local
DEFAULT_EMAIL=admin@luxoft.local

WHOAMI_VIRTUAL_HOST=whoami.local
WHOAMI_LETSENCRYPT_HOST=whoami.local
WHOAMI_HTTPS_METHOD=noredirect # nohttps

NODE_PORT=9100
NODE_VIRTUAL_HOST=node.local
NODE_LETSENCRYPT_HOST=node.local
NODE_HTTPS_METHOD=noredirect # nohttps

GRAFANA_PORT=3000
GRAFANA_VIRTUAL_HOST=grafana.local
GRAFANA_LETSENCRYPT_HOST=grafana.local
GRAFANA_HTTPS_METHOD=noredirect # nohttps

PROMETHEUS_PORT=9090
PROMETHEUS_VIRTUAL_HOST=prometheus.local
PROMETHEUS_LETSENCRYPT_HOST=prometheus.local
PROMETHEUS_HTTPS_METHOD=noredirect # nohttps
